@model int


@{
    if (Model == 3)
    {
        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-dark bg-light mb-3" style="flex: 0 1 50rem;">
                <div class="card-header">Ventas anuales</div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    }
    else if (Model == 2)
    {
        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-dark bg-light mb-3" style="flex: 0 1 50rem;">
                <div class="card-header">Ventas mensuales</div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-dark bg-light mb-3" style="flex: 0 1 50rem;">
                <div class="card-header">Ventas diarias</div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    }
}







