



<a class="btn btn-secondary"  asp-route-modelValue="1">Diario</a>
<a class="btn btn-secondary"  asp-route-modelValue="2">Mensual</a>
<a class="btn btn-secondary"  asp-route-modelValue="3">Año</a>
