@model CompraCreacionViewModel

@{
    ViewData["Title"] = "Actualizar compra";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<form asp-controller="Compras" asp-action="Actualizar">

    <div class="row">
        <div class="col-md-6">
                <label class="form-label" asp-for="ProveedorId"></label>
                <select class="form-control" asp-for="ProveedorId" asp-items="@Model.Proveedores"></select>
                <span asp-validation-for="ProveedorId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
                <label class="form-label" asp-for="Descripcion"></label>
                <textarea class="form-control" asp-for="Descripcion" rows="4" cols="50"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
                <label class="form-label" asp-for="FechaCompra"></label>
                <input class="form-control" asp-for="FechaCompra" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
        </div>
        <div class="col-md-6">
                <label class="form-label" asp-for="Total"></label>
                <input class="form-control" asp-for="Total" />
                <span asp-validation-for="Total" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
                <label class="form-label" asp-for="TipoCompra"></label>
                <select class="form-control" asp-for="TipoCompra" asp-items="Model.TiposCompras"></select>
                <span asp-validation-for="TipoCompra" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
        </div>
    </div>
</form>



@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}